.tab *.tab-label {
    -fx-rotate: 90;
}

.tab-pane {
  -fx-tab-min-height:64px;
  -fx-tab-max-height:64px;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
  -fx-background-color: royalblue;
}